name: Build Fabric

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Fabric
        run: ./gradlew build
        working-directory: fabric

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fabric-build
          path: fabric/build/libs/
